{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Sistema de Agendamento de Consultas Médicas</title>
  </head>
  <body class="pag-cadastrar">
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2>Cadastrar Paciente</h2>
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
      <div class="alert alert-danger" role="alert">
        * indica campo obrigatório
      </div>
              <form>
                <div class="form-row">
                  <div class="col-md-5 mb-3">
                    <label for="validationDefault01">Nome Completo*</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="Nome Completo" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault02">Telefone*</label>
                    <input type="tel" class="form-control" id="validationDefault02" placeholder="Telefone" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault03">E-mail*</label>
                    <input type="email" class="form-control" id="validationDefault03" placeholder="E-mail" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault04">CPF*</label>
                    <input type="text" class="form-control" id="validationDefault04" placeholder="CPF" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault05">Data de Nascimento*</label>
                    <input type="date" class="form-control" id="validationDefault05" placeholder="Estado" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault06">Sexo*</label>
                    <select class="form-control" id="validationDefault06" required>
                      <option value="">Selecionar</option>
                      <option value="masculino">M</option>
                      <option value="feminino">F</option>
                      <option value="outro">Outro</option>
                    </select>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault07">Bairro*</label>
                    <input type="text" class="form-control" id="validationDefault07" placeholder="Bairro" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault08">Rua*</label>
                    <input type="text" class="form-control" id="validationDefault08" placeholder="Rua" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault09">Número da Residência (se houver)</label>
                    <input type="text" class="form-control" id="validationDefault09" placeholder="Número da Residência">
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="validationDefault10">CEP*</label>
                    <input type="text" class="form-control" id="validationDefault10" placeholder="CEP" required>
                  </div>
                  <div class="col-md-11 mb-3">
                    <label for="exampleFormControlTextarea1">Observações Médicas</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">Enviar</button>
              </form> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Grupo de itens colapsável #2
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Grupo de itens colapsável #3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
      
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>